
nav .nav-fixed{
    border-bottom: 1px solid #E7E9FC;
    width: 1440px;
    height: 72px;
    border:1px;

}
nav .menu{
    width: Hug (261px);
    height: Hug (24px);
    top: 24px;
    left: 347px;
    gap: 40px;
    
}
nav ul{
    width: Hug (261px);
    height: Hug (24px);
    top: 24px;
    left: 347px;
    gap: 40px;

}
nav .logo-main{
    width: 44px;
    height: 21px;
    background: #4D5AE5;
    font-family: Raleway; 
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;


}
nav .logo-studio{
    width: 71px;
    height: 21px;
    background: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;

}
.text-email{
    /* styleName: Body; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 153px;
    height: 24px;
    top: 24px;
    left: 940px;
    background: #434455;

}
.text-phone{
    /* styleName: Body; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    
}
header{
    width: 1440px;
    height: 72px;
}
main{
    width: 1440px;
    height: 2592px;
    top: -1175px;
    left: 405px;
}
.hero-img{
    width: 1440px;
    height: 600px;
    top: 72px;
    background: #2E2F42;
}
.text{
    font-family: Roboto;
    font-weight: Bold;
    font-size: 56px;
    margin: 2%;
    height: 60 px;
}
button{
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    height: 24px;
    margin: 4%
}


section .sec1{
    width: 1128px;
    height: 104px;
    top: 792px;
    left: 156px;
}
section .sec2{
    width: 1128px;
    height: 412px;
    top: 1016px;
    left: 156px;
}
section .sec3{
    width: 1440px;
    height: 732px;
    top: 1548px;
}
.img-1{
    width: Hug (360px);
    height: Hug (300px);
    top: 1128px;
    left: 156px;
}
.img-2{
    width: Hug (360px);
    height: Hug (300px);
    top: 1128px;
    left: 540px; 
}
.img-3{
    width: Hug (360px);
    height: Hug (300px);
    top: 1128px;
    left: 924px;
}
footer{
    width: 1440px;
    height: 312px;
    top: 2280px;
    background: #2E2F42;
}
footer text-2{
    width: 264px;
    height: 112px;
    top: 2380px;
    left: 156px;
}
footer .logo{
    width: Hug (115px);
    height: Fixed (24px);
    top: 2380px;
    left: 156px;
}
footer .text-web{
    background: #4D5AE5;
}
footer .text-studio{
    background: #F4F4FD;
}

footer .body{
    /* styleName: Body; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 264px;
    height: 72px;
    top: 2420px;
    left: 156px;
    background: #F4F4FD;
    
}
/* Section 2 */

position: absolute;
width: 1128px;
height: 412px;
left: 156px;
top: 1016px;



/* img 3 */

/* Auto layout */
.img-3{


display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
left: 924px;
top: 1128px;
}


/* Rectangle 71 */
.rect71{
box-sizing: border-box;

width: 360px;
height: 300px;

background: url(photo-1545235617-7a424c1a60cc.jpg);
/* CORNFLOWER */
border: 1px solid #E7E9FC;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* img 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
left: 540px;
top: 1128px;



/* Rectangle 71 */

box-sizing: border-box;

width: 360px;
height: 300px;

background: url(2225.jpg);
/* CORNFLOWER */
border: 1px solid #E7E9FC;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* img 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
left: 156px;
top: 1128px;



/* Rectangle 71 */

box-sizing: border-box;

width: 360px;
height: 300px;

background: url(2368.jpg);
/* CORNFLOWER */
border: 1px solid #E7E9FC;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* What are we doing */

position: absolute;
width: 323px;
height: 40px;
left: 559px;
top: 1016px;

/* Header 2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */
color: #2E2F42;

